.wrapper {
  .description,
  .times {
    display: flex;
    > p {
      width: 25%;
      font-family: Lato;
      margin: 10px 0 0 0;
      text-align: center;
    }
  }
  .times {
    font-size: 22px;
  }
}
